<h1>Welcome to the meetings backoffice</h1>
<p>Go to http://localhost:3000/meetings for a list of all existing meetings</p>
<p>Go to http://localhost:3000/meetings/new to add a meeting to the list</p>
